body {
    background-image: url("images/Modern-blue-polygonal-background-image.jpg");
}
/*
header img h1 {
    display: flex;
    flex-direction: column;
    justify-content: column;
    font-family: Orbitron;
    font-size: 2rem;
    margin: 2rem 0rem 0rem 0rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: IBM Plex Mono;
    font-size: 1.5rem;
    font-weight: regular;
    padding: 5rem  blue;
    border: 0.01 solid;
    text-decoration: none;
}

nav a.main{
    margin: 2rem 0rem 0rem 15rem;
}

nav a.about{
    margin: 2rem 0rem 0rem 5rem;
}

nav a.login{
    margin: 2rem 0rem 0rem 5rem;
}

nav a.signup{
    margin: 2rem 0rem 0rem 5rem;
}

nav a:hover {
    background-color: lightgreen;
}

nav a:active {
    background-color: darkgreen;
}
*/